.gh-dialog-box {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3); }
  .gh-dialog-box .gh-diglog {
    position: absolute;
    background-color: #FFFFFF; }
