@import "./common.scss";

div,p,span{
  color: $font-color-lable;
}
/* 通用属性 */
.gh-main{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}
.gh-content{
	background-color:$bg-color ;
	padding:$padding;
}
/* input输入框 */
.gh-input{
	.gh-input-inner{
		width: 100%;
		padding:0 0.625rem;
		line-height:1.75rem;
		box-sizing: border-box;
		border: 1px solid $gh-input-border-color;
		&.gh-input-border-top{
			border-width: 0px;
			border-top-width:1px;
		}
		&.gh-input-border-bottom{
			border-width: 0px;
			border-bottom-width:1px;
		}
		&.gh-input-border-left{
			border-width: 0px;
			border-left-width:1px;
		}
		&.gh-input-border-right{
			border-width: 0px;
			border-right-width:1px;
		}
	};
  .input-error-border{
    border-color:$gh-input-error ;
  }
	.gh-input-inner:focus{
		border-color:$gh-input-border-color-active;
	}
};
/* form 表单提交*/
 .gh-from-item{
   display: flex;
   justify-content: space-between;
   label{
     line-height: 1.8;
   }
   .from-item-content{
     flex: 1;
     padding-bottom: 15px;
     position: relative;
   };
   .from-item-error{
     font-size: 0.75rem;
     color:$gh-input-error;
     position: absolute;
     left: 0;
     bottom: 0;
     transition: all 2s;
   };

 };
/* 按钮控件 */
.gh-button{
	outline: none;
	padding:0.75rem 1.25rem;
	color: #333333;
	text-align: center;
  cursor: pointer;
	&.gh-button-primary{
		color: #fff;
		background-color: $gh-button-primary;
		border: 1px solid $gh-button-primary;
		&:active{
			opacity: 1;
		}
	}
	&.gh-button-success{
		color: #fff;
		background-color: $gh-button-success;
		border: 1px solid $gh-button-success;
		&:active{
			opacity: 1;
		}
	};
	&.gh-button-info{
		color: #fff;
		background-color: $gh-button-info;
		border: 1px solid $gh-button-info;
		&:active{
			opacity: 1;
		}
	};
	&.gh-button-warning{
		color: #fff;
		background-color: $gh-button-warning;
		border: 1px solid $gh-button-warning;
		&:active{
			opacity: 1;
		}
	};
	&.gh-button-danger{
		color: #fff;
		background-color: $gh-button-danger;
		border: 1px solid $gh-button-danger;
		&:active{
			opacity: 1;
		}
	};
	// 按钮大小
	&.gh-button-medium{
		padding: 0.625rem 1.25rem;
		font-size: 0.875rem;
	}
	&.gh-button-small{
		padding: 0.5625rem 0.9375rem;
		font-size: 0.75rem;
	}
	&.gh-button-mini{
		padding: 0.4375rem 0.9375rem;
		font-size: 0.75rem;
	}
	&:hover{
		opacity: 0.8;
	}

}

/*链接文字 */
 .el-link {
     display: inline-flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     vertical-align: middle;
     position: relative;
     text-decoration: none;
     outline: none;
     cursor: pointer;
     padding: 0;
     font-size: 14px;
     font-weight: 500;
     &.is-underline:hover:after {
        content: "";
         position: absolute;
         left: 0;
         right: 0;
         height: 0;
         bottom: 0;
         border-bottom: 1px solid #409eff;
       }
}
.gh-link-default{
  color:$gh-link-default;
  &.is-underline:hover:after {
    border-color:$gh-link-default ;
  }
}
.gh-link-primary{
  color:$gh-link-primary;
  &.is-underline:hover:after {
    border-color:$gh-link-primary ;
  }
}
.gh-link-success{
  color:$gh-link-success;
  &.is-underline:hover:after {
    border-color:$gh-link-success ;
  }
}
.gh-link-info{
  color:$gh-link-info;
  &.is-underline:hover:after {
    border-color:$gh-link-info ;
  }
}
.gh-link-warning{
  color:$gh-link-warning;
  &.is-underline:hover:after {
    border-color:$gh-link-warning ;
  }
}
.gh-link-danger{
  color:$gh-link-danger;
  &.is-underline:hover:after {
    border-color:$gh-link-danger ;
  }
}

/* 复选框 */
.gh-checkbox{
	cursor: pointer;
	display: inline-block;
	input[type="checkbox"]{
		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		appearance: none;
		cursor: pointer;
		border: 4px solid #A8A9AD;
		width: 0.9375rem;
		height: 0.9375rem;
	}
	input[type="checkbox"]:checked{
		background-color: #DA262D;
	};
	.gh-checkbox-input{
		vertical-align: middle;
	}
	.gh-checkbox-label{
		vertical-align: middle;
		font-size: 0.875rem;
	}
}

/* 单选框 */
.gh-radio{
 cursor: pointer;
 input[type="radio"]{
	 -webkit-appearance: none;
	 -moz-appearance: none;
	 -ms-appearance: none;
	 appearance: none;
	 border-radius: 50%;
	 cursor: inherit;
 	border: 4px solid #A8A9AD;
 	width: 0.9375rem;
 	height: 0.9375rem;
 }
 input[type="radio"]:checked{
 	background-color: #DA262D;
 }
 .gh-radio-input{
 	vertical-align: middle;
 }
 .gh-radio-label{
 	vertical-align: middle;
 	font-size: 0.875rem;
 }
 &.is-disabled{
   opacity: 0.5;
   cursor: no-drop;
 }
}
/* select 下拉列表 */
.gh-select{
		width: 240px;
		position: relative;
    cursor: pointer;
		.gh-select-input{
			width: 100%;
			position: relative;
			input{
				width: 100%;
				padding:0 0.625rem;
				line-height:1.75rem;
				box-sizing: border-box;
				border: 1px solid $gh-input-border-color;
				cursor: pointer;
			};
			.iconfont{
				position: absolute;
				top: 50%;
				right: 10px;
				margin-top: -9px;
			}
		}
		.gh-select-box{
			width: 100%;
			border: 1px solid $gh-input-border-color;
			border-top-width:0px ;
			box-sizing: border-box;
			position: absolute;
			z-index: 9999;
			background-color: #fff;
      max-height: 12.5rem;
      overflow-y: auto;
			.gh-selelct-list{
				padding: 0.4375rem 0.625rem;

				&:hover{
					background-color: #EEEEEE;
				}
        .active{
          background-color: #EEEEEE;
        }
			}
      .select-no{
            padding: 0.4375rem 0.625rem;
            text-align: center;
            font-size: 0.875rem;
      }
		}
    &.select-disabled{
      cursor: no-drop;
      outline: none;
      }
    &.select-disabled input{
      cursor: no-drop;
    }
	}
/* 日期选择器 */
.gh-date-picker{
		width: auto;
		border: 1px solid $gh-input-border-color;
		box-sizing: border-box;
		display: inline-block;
		.date-picker-inner{
			position: relative;
			display: inline-block;
      width: 5rem;
		}
		.gh-date-input{
			width: 100%;
			position: relative;
			input{
				width: 100%;
				padding:0 0.625rem;
				line-height:1.75rem;
				border: 0px;
				cursor: pointer;
				box-sizing: border-box;
			};
			.iconfont{
				position: absolute;
				top: 50%;
				right: 10px;
				margin-top: -9px;
			}
		}
    
		.gh-date-select{
			height: 200px;
			overflow-y: auto;
			position: absolute;
			left: -1px;
			width: 100%;
			border: 1px solid $gh-input-border-color;
			border-top-width:0px ;
			z-index: 999999;

			.itemList{
				padding: 0.4375rem 0.625rem;
				cursor: pointer;
				outline: none;
				&:hover{
					background-color: #EEEEEE;
				}
        &.active{
          background-color: #EEEEEE;
        }
				background-color: #FFFFFF;
			}
		}
	}
/* 列表 */
.gh-list-box{
	background-color: #fff;
	margin-bottom: 1.25rem;
	.gh-list .list-item>div{
		padding: 0.4375rem 0.9375rem;
		.small{
			float: right;
		}
	};
	.gh-list .list-item:after{
		content: "";
		display: block;
		height: 0.125rem;
		background-color: #f8f8f8;
	}
}
/*时间选择器*/
// .gh-date-picker{
// 	.pagedate{
// 		display: flex;
// 		justify-content: space-around;
// 		div{
// 			display: inline-block;
// 		}
// 		span{
// 			cursor: pointer;
// 			&:hover{
// 				color: $gh-button-success;
// 			}
// 		}
// 	}
// 	.week{
// 		display: flex;
// 		justify-content: space-around;
// 	}
// }
 /*layout 布局*/
 .gh-row{
	 position: relative;
	 box-sizing: border-box;
	 &:after,&:before{
		 display: table;
		 content: "";
	 }
	 &:after{
		 clear: both;
	 }

 }
.gh-row-flex{
    display: flex;
 }
 // flex 布局下的水平排列方式  start/end/center/space-around/space-between
.is-justify-end{
  justify-content: end;
}
.is-justify-center{
  justify-content: center;
}
.is-justify-space-around{
   justify-content: space-around;
}
.is-justify-space-between{
  justify-content: space-between;
}
//栅格宽度



[class*=gh-col-] {
	     float: left;
	     box-sizing: border-box;
	 }

//创建列的混合宏
@mixin mark-col($col) {
  @for $i from 1 through $column-count {
    .gh-col-#{$col}-#{$i} {
      position: relative;
      min-height: 1px;
      padding-right: $gutter/2;
      padding-left: $gutter/2;
      width: percentage($i/$column-count);
      float: left;
    }
  }
}
// hidden-xs-only - 当视口在 xs 尺寸时隐藏
// hidden-sm-only - 当视口在 sm 尺寸时隐藏
// hidden-sm-and-down - 当视口在 sm 及以下尺寸时隐藏
// hidden-sm-and-up - 当视口在 sm 及以上尺寸时隐藏
// hidden-md-only - 当视口在 md 尺寸时隐藏
// hidden-md-and-down - 当视口在 md 及以下尺寸时隐藏
// hidden-md-and-up - 当视口在 md 及以上尺寸时隐藏
// hidden-lg-only - 当视口在 lg 尺寸时隐藏
// hidden-lg-and-down - 当视口在 lg 及以下尺寸时隐藏
// hidden-lg-and-up - 当视口在 lg 及以上尺寸时隐藏
// hidden-xl-only - 当视口在 xl 尺寸时隐藏
@mixin hidden-col($col) {
    .hidden-#{$col}-only {
      display: none;
    };

}
@mixin hidden-col-down($col) {
    .hidden-#{$col}-and-down {
      display: none;
    }
   }
@mixin hidden-col-up($col) {
    .hidden-#{$col}-and-up {
      display: none;
    }
}
//生成超小屏下的列
@include mark-col(mx);
@include hidden-col(mx);
//小屏列隐藏
@media (min-width: $sr-sm-min) and (max-width: $sr-md-min) {
 @include hidden-col(sm);
}
//中屏列隐藏
@media (min-width: $sr-md-min) and (max-width: $sr-lg-min) {
  @include hidden-col(md);
}
//大屏列隐藏
@media (min-width: $sr-lg-min) and (max-width: $sr-xl-min) {
 @include hidden-col(lg);
}
//超大屏列隐藏
@media (min-width: $sr-xl-min) {
  @include hidden-col(xl);
}
//小屏下的列隐藏
@media (max-width: $sr-sm-min) {
  @include hidden-col-down(sm);
}
//中屏下的列隐藏
@media (max-width: $sr-md-min) {
  @include hidden-col-down(md);
}
//大屏下的列隐藏
@media (max-width: $sr-lg-min) {
  @include hidden-col-down(lg);
}
//超大屏下的列隐藏
@media (max-width: $sr-xl-min) {
  @include hidden-col-down(xl);
}

//生成小屏下的列 and 以上隐藏
@media (min-width: $sr-sm-min) {
  @include mark-col(sm);
  @include hidden-col-up(sm);
}
//生成中屏下的列 and 以上隐藏
@media (min-width: $sr-md-min) {
  @include mark-col(md);
  @include hidden-col-up(md);
}
//生成大屏下的列 and 以上隐藏
@media (min-width: $sr-lg-min) {
  @include mark-col(lg)
  @include hidden-col-up(lg);
}
//生成大屏下的列 and 以上隐藏
@media (min-width: $sr-xl-min) {
  @include mark-col(xl)
  @include hidden-col-up(xl);
}
